* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Mono, monospace;
  background-color: #ede7f6;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main h2 {
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: bold;
}
#main h2 span {
  color: rgb(126, 87, 194);
}
#main input {
  box-sizing: initial;
  width: 30%;
  padding: 10px;
  border: 1px solid rgb(126, 87, 194);
  outline-color: rgb(81, 45, 168);
  border-radius: 7px;
}
#main textarea {
  margin-top: 25px;
  box-sizing: initial;
  width: 30%;
  padding: 10px;
  border: 1px solid rgb(126, 87, 194);
  outline-color: rgb(81, 45, 168);
  border-radius: 7px;
}
#main .selectcolor {
  width: 30%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
#main .selectcolor button {
  padding: 10px 15px;
  background-color: rgb(126, 87, 194);
  border-radius: 10px;
  border: 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-weight: 500;
  color: white;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
#main .selectcolor button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px 5px, rgba(0, 0, 0, 0.3) 0px 5px 10px 2px;
}
#main .selectcolor #colors {
  display: flex;
}
#main .selectcolor #colors .color:first-child {
  box-sizing: initial;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 98, 146);
}
#main .selectcolor #colors .color:first-child > span {
  display: none;
}
#main .selectcolor #colors .color:first-child:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}
#main .selectcolor #colors .color:nth-child(2) {
  box-sizing: initial;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(186, 104, 200);
}
#main .selectcolor #colors .color:nth-child(2) > span {
  display: none;
}
#main .selectcolor #colors .color:nth-child(2):hover {
  opacity: 0.8;
  transform: translateY(-1px);
}
#main .selectcolor #colors .color:nth-child(3) {
  box-sizing: initial;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(79, 195, 247);
}
#main .selectcolor #colors .color:nth-child(3) > span {
  display: none;
}
#main .selectcolor #colors .color:nth-child(3):hover {
  opacity: 0.8;
  transform: translateY(-1px);
}
#main .selectcolor #colors .color:nth-child(4) {
  box-sizing: initial;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 213, 79);
}
#main .selectcolor #colors .color:nth-child(4) > span {
  display: none;
}
#main .selectcolor #colors .color:nth-child(4):hover {
  opacity: 0.8;
  transform: translateY(-1px);
}
#main .selectcolor #colors .color:last-child {
  box-sizing: initial;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(174, 213, 129);
}
#main .selectcolor #colors .color:last-child > span {
  display: none;
}
#main .selectcolor #colors .color:last-child:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}
#main #cards {
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main #cards .card {
  width: 300px;
  height: 350px;
  display: inline-block;
  border-radius: 15px;
  border: 2px dashed rgb(240, 98, 146);
  margin: 20px 20px 10px;
}
#main #cards .card div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgba(240, 98, 146, 0.4);
  text-align: left;
  padding: 10px;
  position: relative;
}
#main #cards .card div img {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 11px;
  width: 20px;
  height: 20px;
}
#main #cards .card p {
  padding: 10px;
  height: 76%;
  overflow: auto;
  font-size: 14px;
}